Data
!Data/*
Results/*
!Results/**/
.DS_Store
*.aux
*.ist
*.log
*.py#
Code/.DS_Store
*.tmp
*.py~
*.pyc
job_transitions_results/*
.DS_Store
*.pyc
*.log~
*.log#
*.txt#
Logs
Results/meso_maps/*.png
Code/MarketPower/nested_logit.p

Code/Misc/stats_for_jamie_fixed.p
*.cpython-36.pyc
