Data
!Data/*
Results/*
!Results/**/
.DS_Store
*.aux
*.ist
*.log
*.py#
Code/.DS_Store
*.tmp
*.py~
*.pyc
job_transitions_results/*
.DS_Store
*.pyc
*.log~
*.log#
*.txt#
Logs
Results/meso_maps/*.png
Code/MarketPower/nested_logit.p

Code/Misc/stats_for_jamie_fixed.p
*.cpython-36.pyc
Results/for_rafa/results_dict.p
Results/for_rafa/df_trans.p
Code/DixCarneiro_Kovak_2017/ProcessedData_RAIS/RegionalEarnPremia/*.xml
Code/DixCarneiro_Kovak_2017/ProcessedData_RAIS/RegionalEarnPremia/*.txt
Code/DixCarneiro_Kovak_2017/ProcessedData_RAIS/RegionalEarnPremia/*.dtaCode/DixCarneiro_Kovak_2017/ProcessedData_RAIS/Panel_1986_2010/*.dta
Code/DixCarneiro_Kovak_2017/ProcessedData_RAIS/Panel_1986_2010/*.dta
Code/DixCarneiro_Kovak_2017/ProcessedData_RAIS/RegionalEarnPremia/*.dta
Code/DixCarneiro_Kovak_2017/ProcessedData_RAIS/**/*.dta
